.footer {
  background-color: unset;
  padding: 0px;
}
.card {
  // background-color: transparent;
  border-radius: 0px;
  box-shadow: unset;
  color: unset;
  max-width: 100%;
  position: relative;
}
