@font-face {
  font-family: '1';
  src: url("@/assets/fonts/ClashDisplay-Medium.woff2") format("woff2"),
  url("@/assets/fonts/ClashDisplay-Medium.woff") format("woff"),
  url("@/assets/fonts/ClashDisplay-Medium.eot") format("eot");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: '2';
  src: url("@/assets/fonts/BackOut.woff2") format("woff2"),
  url("@/assets/fonts/BackOut.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

// @font-face {
//   font-family: '3';
//   src: url("@/assets/fonts/GeneralSans-Regular.woff2") format("woff2"),
//   url("@/assets/fonts/GeneralSans-Regular.woff") format("woff"),
//   url("@/assets/fonts/GeneralSans-Regular.eot") format("eot");
//   font-weight: 500;
//   font-display: swap;
// }

@font-face {
  font-family: '3';
  src: url("@/assets/fonts/Grotesk.woff2") format("woff2"),
  url("@/assets/fonts/Grotesk.woff") format("woff"),
  url("@/assets/fonts/Grotesk.eot") format("eot");
  font-weight: 500;
  font-display: swap;
}

.text {
  &-1 *{
    font-family: '1';
  }
  &-2 *{
    font-family: '2';
  }
  &-3 *{
    font-family: '3';
  }
  &--primary {
    font-family: $main-font;
  }
  &--secondary {
    font-family: $body-font;
  }

  // 200px
  &--titanic {
    font-size: 12.5rem;
    line-height: 13rem;
  }
  // 160px
  &--grand {
    font-size: 10rem;
    line-height: 10.5rem;
  }
  // 60px
  &--spacious {
    font-size: 3.75rem;
    line-height: 4rem;
  }
  // 48px
  &--large {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  // 22px
  &--medium {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
  // 16px
  &--body {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  // 14px
  &--small {
    font-size: 0.875rem;
    line-height: 9rem;
  }
  // 12px
  &--tiny {
    font-size: 0.75rem;
    line-height: 0.85rem;
  }

  &--bold {
    font-weight: 700;
  }
  &--semi-bold {
    font-weight: 600;
  }
  &--medium {
    font-weight: 500;
  }
  &--regular {
    font-weight: 400;
  }
  &--slim {
    font-weight: 300;
  }

  &--upper {
    text-transform: uppercase;
  }
}
