.intro-text {
  max-width: 40%;
  width: 100%;
  overflow: hidden;
  .btn {
    margin-top: 2rem;
  }
  p {
    width: 100%;
    font-size: 22px;
    // background: -webkit-linear-gradient(180deg,#eee, #333);
    color: rgba(0, 0, 0, 0);
    // background-size: 1000% 100%;
    // background-position-x: 100%;
    // transition: background-position 0.6s ease;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    span {
      background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, $light);
      background-size: 2000% 100%;
      background-position-x: 100%;
      transition: background-position 1.6s ease;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &.open {
        background-position-x: 0%;
      }
    }
    &.open {
      background-position-x: 0%;
    }
  }
}
